@media screen and (max-width: 479px) {
  #wrapper, #header, #main, .mainleft, .mainright, #footer {
    width: 200px;
  }

  #header {
    height: 190px;
  }

  .headerright {
    width: 60px;
    height: 160px;
    margin-top: 10px;
    margin-left: 70px;
    background-color: white;
  }

  .box1, .box2, .box3 {
    float: none;
  }

  .mainbox1, .mainbox2, .mainbox3 {
    margin: 20px 30px 10px 30px;
  }
}